
// menu //

.menu{
    width: 100%;
}

.menu h2{
    display: flex;
    margin-bottom: 40px;
}

.menu {
    color: #fac031;
}

.menu h1 span::after{
    content: '';
    width: 100%;
    height: 2px;
    background: #fac031;
    display: block;
    position: relative;
    
}

.menu .menu_box{
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 40px;
}

.menu .menu_box .menu_card{
    width: 304px;
    height: 425px;
    margin-bottom: 200px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

 .menu_box .menu_card .menu_image{
    width: 280px;
    height: 245px;
    margin: 0 auto;
    overflow: hidden;
}

.menu .menu_box .menu_card .menu_image img{
    width: 100%;
    height: 95%;
    object-fit: cover;
    object-position: center;
    transition: 0.3s;
}

.menu .menu_box .menu_card .menu_image:hover img{
    transform: scale(1.1);
}

.menu .menu_box .menu_card .small_card{
    width: 45px;
    height: 45px;
    float: right;
    position: relative;
    top: -240px;
    right: -8px;
    opacity: 0;
    border-radius: 7px;
    transition: 0.3s;
}

.menu .menu_box .menu_card:hover .small_card{
    position: relative;
    top: -240px;
    right: 20px;
    opacity: 1;
}

.menu .menu_box .menu_card  .small_card i{
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 50px;
    color: #e02b0b;
    cursor: pointer;
    text-shadow: 0 0 6px #e5d331;
    transition: 0.2s;
}

.menu .menu_box .menu_card .small_card i:hover{
    color: #ff1e1e;
}

.menu .menu_box .menu_card .menu_info h2{
    width: 60%;
    text-align: center;
    margin: 10px auto 10px auto;
    font-size: 25px;
    color: #e92828;
}


.menu .menu_box .menu_card .menu_info .menu_icon{
    color: #fac031;
    margin: 10px 0 10px 0;
}

.menu .menu_box .menu_card .menu_info .menu_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(129, 205, 42);
    background-color: #ffff;
    border-radius: 4px;
    border: 1px solid var(--main-secondary, #70C05B);
    padding: 10px;
    gap: 10px;
    transition: 0.3s;
}
.skidka{
    display: inline-flex;
padding: 4px 8px;
align-items: flex-start;
gap: 10px;
border-radius: 4px;
background: var(--main-primary, #F63)
}
.title{
color: var(--main-on-surface, #414141);
font-size: 18px;
font-weight: 700;
line-height: 150%; 
}
.title_menu{
color: var(--grayscale-hardest, #606060);
font-size: 16px;
font-weight: 400;
line-height: 150%; 
margin-left: 120px;
}
.menu_content-box{
    padding-right: 4px;
    padding-left: 3px;
}
.menu_card{
    background-color: #fff;
    border-radius: 8px;
}
.text_menu{
    color: var(--grayscale-light, #BFBFBF);
    font-family: Rubik;
    font-size: 12px;
    font-weight: 400;
    line-height: 150%; 
    margin-left: 135px;
}
.text{
    color: var(--grayscale-light, #BFBFBF);
font-size: 12px;
font-weight: 400;
line-height: 150%; 
}
.text_p{
    color: var(--main-on-surface, #414141);
font-size: 16px;
font-weight: 400;
line-height: 150%; 
}
.title_content{
    color: var(--main-on-surface, #414141);
font-size: 36px;
font-weight: 700;
line-height: 150%; 
margin-top: 70px;

}
.title_content1{
    color: var(--main-on-surface, #414141);
font-size: 36px;
font-weight: 700;
line-height: 150%; 
}
.title_content2{
    color: var(--main-on-surface, #414141);
font-size: 36px;
font-weight: 700;
line-height: 150%; 
}
.p_p{
    color: #fff;
}
.menu_text_content{
  display: flex;
 justify-content: space-between;
 margin-top: 97px;
 
}
.menu_text  {
    color: var(--grayscale-hardest, #606060);
    font-size: 13px;
    
}
#icon_main{
    color: #606060;
}



// responsive

@media screen and (max-width: 1310px) {
    .menu .menu_box {
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        max-width: 220px;
    }
    .title_content {
        font-size: 24px;
font-weight: 700;
line-height: 150%;

    }
    .menu_text_content{
       justify-content: center;
    }
    .menu_carn_none{
        display: none;
    }
}
